
.app-containerFI {
  display: flex;
  flex-direction: column;
}

.shifted {
  margin-left: 250px;
}

.food-item-content {
  padding: 20px;
}

.add-food-item-btn {
  margin-left:800px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-food-item-btn:hover{
  background-color: #0c4119;
}

.food-item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.food-item-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.food-item-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.food-item-card-body {
  padding: 15px;
}

.food-item-card-body h3 {
  margin: 0;
  font-size: 1.5em;
}

.food-item-card-body p {
  margin: 5px 0;
}

.edit-btn {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modalFI {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contentFI {
  margin-top:200px;
  margin-left: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.food-item-form {
  display: flex;
  flex-direction: column;
}

.food-item-form input, .food-item-form textarea, .food-item-form select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.error-text {
  color: red;
  font-size: 0.9em;
}

.food-item-content h2 {
  margin-left:300px;
}

.food-item-form button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.food-item-list {
  margin-left:380px;
}

/* New styles for restaurant-selector */
.restaurant-selector {
  margin-left:300px;
margin-bottom:60px;
}

.restaurant-selector h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.restaurant-selector select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.restaurant-selector select:focus {
  border-color: #007bff;
  outline: none;
}

.food-item-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.food-item-card-img.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #666;
  font-style: italic;
}
.modal-contentFIAdd{
  margin-top:200px;
  margin-left: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.add-editF{
  margin-right:230px;
}